# Modo inicial da interface: "demo" (simulacao local) ou "chain" (Solana)
NEXT_PUBLIC_DEFAULT_MODE=demo
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_CLUSTER_LABEL=Devnet
NEXT_PUBLIC_EXPLORER_CLUSTER=devnet
NEXT_PUBLIC_PROGRAM_ID=Ej3YoReUDCwKkE1ECt98vg3LE9KopPM2D24Q4a6zddPE
NEXT_PUBLIC_STABLE_SYMBOL=tBRL
